{% extends "Home\base.html" %}
{% block content %}
    <h1>About PAge!</h1>

<p>Welcome to the about page here you will find out how to use the Web Portal</p>

{% load static %}
<h3>Login In</h3>
<img src="{% static '/1.PNG' %}" alt="My image" width="250">
<p>Request from Admin if you do not have an account Admin@adminemail.com</p>
<br>
<h3>Recording Mandays</h3>
<img src="{% static '/2.PNG' %}" alt="My image" width="250">
<p>Home Page where the Active Months Tickets will be displayed</p>
<img src="{% static '/3.PNG' %}" alt="My image" width="250">
<p>Update the Ticket by clicking on "Update"</p>
<img src="{% static '/4.PNG' %}" alt="My image" width="250">
<p>1 Mandays is equal to 8 Hours</p>
<img src="{% static '/5.PNG' %}" alt="My image" width="250">
<br>
<h3>Creating Missing Tickets for the Month</h3>
<img src="{% static '/6.PNG' %}" alt="My image" width="250">
<p>If you are missing a Ticket, Create the Ticket for the Active Month</p>
<img src="{% static '/6.1.PNG' %}" alt="My image" width="250">
<img src="{% static '/7.PNG' %}" alt="My image" width="250">

{% endblock content %}
