{% extends "Home\base.html" %}
{% block content %}
    <h1>About PAge!</h1>

<p>Welcome to the about page here you will find out how to use the Web Portal</p>

{% load static %}
<h3>Login In</h3>
<img src="{% static '/1.PNG' %}" alt="My image" width="250">
<br>
<h3>Recording Mandays</h3>
<img src="{% static '/2.PNG' %}" alt="My image" width="250">
<img src="{% static '/3.PNG' %}" alt="My image" width="250">
<img src="{% static '/4.PNG' %}" alt="My image" width="250">
<img src="{% static '/5.PNG' %}" alt="My image" width="250">
<br>
<h3>Creating Missing Tickets for the Month</h3>
<img src="{% static '/6.PNG' %}" alt="My image" width="250">
<img src="{% static '/6.1.PNG' %}" alt="My image" width="250">
<img src="{% static '/7.PNG' %}" alt="My image" width="250">

{% endblock content %}
