{% extends "Home\base.html" %}
{% block content %}

    <h2>Active Month</h2>
    <h3>{{ newactive }}</h3>

<p style="color:blue;font-size:50px;">"{{ active.0.date_created|date:"M, Y" }}"</p>

<form action="" method="post">
    {% csrf_token %}
    Release month :
    <select id="dynamic_month" name="dynamic_month"></select>
    <select id="dynamic_year" name="dynamic_year"></select>
    <input type="submit" value="Submit">

    <br>



<br>

</form>

<div>
<table>
  <tr>
    <th>TicketID</th>
    <th>Assignee</th>
    <th>Mandays</th>
    <th>Description</th>
    <th>Date Created</th>
    <th>Manage</th>
  </tr>
{% for q in result %}
  <tr>
    <td>{{q.ticketNo}}</td>
    <td>{{q.assigned}}</td>
    <td>{{q.mandays}}</td>
    <td>{{q.description}}</td>
    <td>{{q.date_created}}</td>
    <!--<td style="padding:10px;"><a href="{% url 'ticket-detail' q.id %}">Edit</a></td>-->
    <td><a href="{% url 'ticket-update' q.id %}">Update</a></td>
  </tr>
{% endfor %}
</table>
</div>



<script>
(function () {
    let year_satart = 2020;
    let year_end = (new Date).getFullYear(); // current year
    let year_selected = (new Date).getFullYear();

    let option = '';
    //option = '<option>Year</option>'; // first option

    for (let i = year_satart; i <= year_end; i++) {
        let selected = (i === year_selected ? ' selected' : '');
        option += '<option value="' + i + '"' + selected + '>' + i + '</option>';
    }

    document.getElementById("dynamic_year").innerHTML = option;
})();
(function () {
    // let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var month_selected = (new Date).getMonth(); // current month
    var option = '';
    //option = '<option>Month</option>'; // first option

    for (let i = 0; i < months.length; i++) {
        let month_number = (i + 1);

        // value month number with 0. [01 02 03 04..]
        let month = (month_number <= 9) ? '0' + month_number : month_number;

        // or value month number. [1 2 3 4..]
        // let month = month_number;

        // or value month names. [January February]
        // let month = months[i];

        let selected = (i === month_selected ? ' selected' : '');
        option += '<option value="' + month + '"' + selected + '>' + months[i] + '</option>';
    }
    document.getElementById("dynamic_month").innerHTML = option;
})();
</script>
{% endblock content %}