<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

        {% if title %}
        <title>Panalog - {{ title }}</title>
        {% else %}
        <title>Panalog</title>
        {% endif %}

    </head>
    <body>


    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'Pana-home' %}">Panalog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_staff %}
                <a class="nav-item nav-link" href="{% url 'register' %}"><i class='fas fa-book'></i> Register Members!</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'Pana-about' %}"><i class='fas fa-book'></i> About</a>
                <a class="nav-item nav-link" href="{% url 'Pana-allmem' %}"><i class='fas fa-user-friends'></i> Members</a>
                <a class="nav-item nav-link" href="{% url 'Pana-hall' %}"><i class='fas fa-building'></i> NonLogger</a>
                {% if user.is_authenticated %}
                    {% for group in  request.user.groups.all %}
                        {%  if 'manager' == group.name %}

                <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class='fas fa-balance-scale'></i> Manager</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href=""><i class="fa fa-tasks"></i> Manage</a>
                                 <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'Pana-uploadcsv' %}"><i class='fas fa-file-csv'></i> Upload CSV</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'Pana-actmonth' %}"><i class='fas fa-chalkboard-teacher'></i> Active Month</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'Pana-flagtix' %}"><i class='far fa-flag'></i> Flag Ticket</a>
                            </div>
                </li>
                        {% endif %}
                    {% endfor %}
              {% endif %}

                {% endif %}

            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}

                {% for group in  request.user.groups.all %}
                        {%  if 'member' == group.name %}
                <a class="nav-item nav-link" href="{% url 'ticket-create' %}"><i class='fas fa-ticket-alt'></i> NewTicket</a>
                        {% endif %}
                {% endfor %}
                <a class="nav-link font-italic" href="{% url 'profile' %}"><i class='fas fa-address-card'></i> Logged in as [{{user.username}}]</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}"><i class='fas fa-sign-out-alt'></i> Logout</a>
                {% else %}
              <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
<!--              <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>-->
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <!--<div class="row">
        <div class="col-md-3">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
            </p>
          </div>
        </div>
          <div class="col-md-9">

        </div>
      </div>-->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>