{% extends "Home\base.html" %}
{% block content %}
    <h1>Combine CSV</h1>
<br>
<p>Combine CSV into one Table</p>

<form method="post">
    {% csrf_token %}
    Enter a name for the Combined file:
    <input id="combine_name" type="text" name="combined_name" value="Combine.">
    <br>
    Available Month to Store Tickets Open:
        <select name="month_from_model" id="open">
            {% for avail in avaiable_months %}
            <option value="{{avail.id}}">{{avail.month_year}}</option>
            {% endfor %}
        </select>
<br>

Available Month to Store Tickets Create:
        <select name="month_from_model" id="create">
            {% for avail in avaiable_months %}
            <option value="{{avail.id}}">{{avail.month_year}}</option>
            {% endfor %}
        </select>
<br>

Available Month to Store Tickets Close:
        <select name="month_from_model" id="close">
            {% for avail in avaiable_months %}
            <option value="{{avail.id}}">{{avail.month_year}}</option>
            {% endfor %}
        </select>
<br>
    <h3><input type="submit" name="combine" value="Combine selected"/> </h3>
</form>
<br>

{% endblock content %}
