{% extends "Home\base.html" %}
{% block content %}
    <h1>Combine CSV</h1>
<br>
<p>Combine CSV into one Table</p>

<form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>CheckBox</th>
          <th>  </th>
        <th>CSV File</th>
      </tr>

        {% for q in avaiable_months %}
      <tr>
        <td><input type="checkbox" name="month" value="{{q.id}}"></td>
          <td>  </td>
         <td>{{q.month_year}}</td>
      </tr>
    {% endfor %}
    </table>
    <h3><input type="submit" name="combine" value="Combine selected"/> </h3>
</form>

{% endblock content %}
