{% extends "Home\base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Manage Ticket</h1>
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group2">
                <legend class="border-bottom mb-4">{{ object.ticketNo }}</legend>
                <p>Requester: {{ object.requester }}</p>
                <p>Assigned: {{ object.assigned }}</p>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}