{% extends "Home\base.html" %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

    {% for message in messages %}
    <div>
        <strong>{{message|safe}}</strong>
    </div>
    {% endfor %}
    <h1>Upload RAW CSV to Database with PANDAS</h1>
<p> Program Should Take columns based on the file being uploaded (Open, Closed, Created)</p>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Create a Name e.g. "OpenAug.2022"/"CreateAug.2022" :
        <input id="dynamic_month" type="text" name="dynamic_month" value=" ">
        <input id="dynamic_year" type="text" name="dynamic_year" value=" ">
       <!-- <select id="dynamic_month" name="dynamic_month"></select>
        <select id="dynamic_year" name="dynamic_year"></select>-->
        <br>

        <br>
        <p>Order of CSV should be </p>
        {% load static %}
        <img src="{% static '/csvformat.PNG' %}" alt="My image" width="550">
        <br>
        <br>
        <label for="file1"> Upload a file</label>
        <small>Only accepts CSV files</small>
        <input class="form-control" type="file" id="file1" name="file">
        <br>

        <button type="submit" class="btn btn-outline-primary">Upload</button>
    </form>


{% endblock content %}