{% extends "Home\base.html" %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

    {% for message in messages %}
    <div>
        <strong>{{message|safe}}</strong>
    </div>
    {% endfor %}
    <h1>Delete Tickets</h1>
<p> Select the Tickets Sets to Delete</p>

    <form method="post">
    {% csrf_token %}

        <br>
        Existing Tables, Choose one from the dropdownlist to delete:
        <select name="month_from_model" id="month_from_model">
            {% for avail in month_avail %}
            <option value="{{avail.month_year}}">{{avail.month_year}}</option>
            {% endfor %}
        </select>

        <br>
        <h3><input type="submit" name="delete" value="Delete selected"/> </h3>
    </form>


{% endblock content %}